@import "../abstracts/mixins";

.u-center-text { text-align: center !important;}

//MARGIN BOTTOM
.mb-sm { margin-bottom: 2rem !important; }

.mb-md {
  margin-bottom: 3rem !important;

  @include respond(tab-port) {
    margin-bottom: 2rem;
  }
}

.mb-lg {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}

.mb-hg {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
}

//MARGIN TOP
.mt-bg { margin-top: 8rem !important; }
.mt-hg { margin-top: 10rem !important; }